#yjMain
  %article.section
    .container
      %header.header.header--section
        %h2.text-middle
          %i.icon-movie.color-gray-light
          作成完了
      = link_to "『投稿』", search_products_path
      ページから、
      %br
      作品を検索してレビューを投稿してみよう！
