%span.yjGuid
  %a#yjContentsStart{name: "yjcontentsStart"}
  %img{alt: "ここから本文です", height: "1", src: "http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif", width: "1"}
#yjMain
  %article.section
    .container
      %header.header.header--section
        %h2.text-middle
          %i.icon-movie.color-gray-light
          投稿する作品を検索
      = form_tag("/products/search_director", method: :get) do
        %input.search__query{name: "keyword_director", placeholder: "監督者で検索"}
          %button.btn-search{title: "検索", type: "submit"}
            %i.icon-search

  = render "search"
